//- helper functions
include helpers.pug

mixin mdTag(parent, tag)
  if tag[0] === parent[0]
    | #{tag[1]}
    each subtag in tag[4]
      +mdTag(tag, subtag)
  else
    #{tag[0]}( class=tag[2] href=tag[3] ) #{tag[1]}
      each subtag in tag[4]
        +mdTag(tag, subtag)

mixin mdText(text)
  each tag in parseMdText(text)
    #{tag[0]}( class=tag[2] href=tag[3] ) #{tag[1]}
      each subtag in tag[4]
        +mdTag(tag, subtag)


doctype html
html(lang='en')
  head
    title Remnants
    link(rel='stylesheet' href='/remnant/assets/styles.css')
    link(rel='shortcut icon' type='image/x-icon' href='/remnant/archive/favicon.ico')
  body
    .navbar
      block buttons
      a.btn(href='/remnant/archive/Map') Full Map

    .page
      block content